<h2>Create New Celebrities</h2>

<form action="/celebrities/create" method="POST">
<input type="text" name="name" placeholder="Name"></input>
<input type="text" name="occupation" placeholder="Occupation"></input>
<input type="text" name="catchPhrase" placeholder="What's your catchphrase?"></input>
<button type="submit"> Submit</button>
</form>