<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<a href="/celebrities/create">Add a New Celebrity</a><br>
<a href="/celebrities">See All Celebrities</a><br>
<a href ="/movies">View All Movies</a><br>
<a href= "/movies/create">Add New Movie</a>